.App {
  text-align: center;
}

.table-header {
  background-color: #8deab3;
  padding: 5px;
  color: gray;
}

.white {
  color: white;
}

.flex {
  display: flex;
}

.black {
  color: black;
}

.gray {
  color: gray;
}

.text-base {
  font-size: 14px;
  color: black;
}

.flex-row {
  flex-direction: row;
}

.justify-end {
  justify-content: flex-end;
}

.p4 {
  padding: 30px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 30px;
}

.mr-2 {
  margin-right: 10px;
}

.button {
  padding: 10px;
  background-color: #8deab3;
  border-radius: 20px;
  color: gray;
  font-weight: 700;
  border-width: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
